<form class="creature_builder" id="monster_maker">
    <div class="creature_builder_input">
        <label for="creature_name">Creature's Name<span>*</span></label>
        <input type="text" placeholder="Insert Creature's Name" name="creature_name" id="creature_name" value="">
        <label for="creature_level">Level</label>
        <input type="text" placeholder="-1" name="creature_level" value="" id="creature_level">
        <button type="button" class="collapsible">Road Maps</button>
        <div class="content" id="roadmaps">
            {{#each roadmaps as |roadmap|}}
                <input type="radio" name="creature_roadmap" value="{{roadmap}}" id="{{underscore roadmap}}">
                <label for="{{underscore roadmap}}" class="button_label">{{upper_case roadmap}}</label>
            {{/each}}
        </div>
        {{#each template_keys as |dictionary|}}
            <button type="button" class="collapsible">{{@key}}</button>
            <div class="content">
            {{#each dictionary as |stat_list|}}
                {{#with stat_list as |key|}}
                    <h4><label for="{{key.name}}">{{key.name}}</label></h4>
                    <div id="{{key.name}}">
                        {{#each key.values as |value|}}
                            {{#if (equals value key.selected)}}
                                <input type="radio" name="{{key.name}}" id="{{key.name}}_{{value}}" value="{{value}}" checked>
                                <label for="{{key.name}}_{{value}}" class="button_label">{{upper_case value}}</label>
                            {{else}}
                                <input type="radio" name="{{key.name}}" id="{{key.name}}_{{value}}" value="{{value}}">
                                <label for="{{key.name}}_{{value}}" class="button_label">{{upper_case value}}</label>
                            {{/if}}
                        {{/each}}
                    </div>
                {{/with}}
            {{/each}}
            </div>
        {{/each}}
        <button type="button" class="collapsible">Traits</button>
        <div class="content" id="monster_maker_traits">
        </div>
    </div>
</form>