#monster_maker {
    display: flex;
    flex-direction: column;
}

#monster_maker .creature_builder_input {
    display: flex;
    flex-direction: column;
}


#monster_maker .creature_builder_input input[type="radio"] {
    display: none;
}

#monster_maker .creature_builder_input div div{
    display: flex;
}

#monster_maker .creature_builder_input div label{
    margin: 0 8px;
    cursor: pointer;
}

#monster_maker .creature_builder_input h4{
    margin: 0 8px;
}

#monster_maker .creature_builder_input input[type="radio"]:checked+label {
    background-color: #bbb;
}