#monsterMakerForm form{
    display: flex;
    flex-direction: column;
}

#monsterMakerForm .monsterMakerFormText {
    font-size: 16px;
}

#monsterMakerForm .monsterMakerFormTextSmall {
    font-size: 15px;
}

#monsterMakerForm label {
    font-size: 16px;
}

